html {
    background: #abc6db;
}

#page-wrap {
	display:none;
    position: relative;
    z-index: 2;
    background: #abc6db;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    -moz-box-shadow: 2px black;
    -webkit-box-shadow: 20px black;
    box-shadow: 20px black;
    float: left;
    margin: 30px; 
}

#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
}

#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}

.player {
	/*font-family: helvetica, sans-serif;*/
	font-family: 'ProximaNovaLight', 'Open Sans', sans-serif;
	color: 2a2a2a;
	padding:10px 10px 5px;
}

.play {
    display: block;
    cursor:pointer;
    color:#ff0;
}

.pause {
    display: none;
}

.playing .play {
    display: none;
}

.playing .pause {
    display: block;
    cursor:pointer;
    color:#ff0;
}

ol {
    list-style: none;
}

li {
	cursor:pointer;
	margin: 10px 15px 0 -35px;
}

li.active {
	color:#287cf9;
}